<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    
    id="cordova-plugin-epsilonnet-file-provider"
    version="0.0.11">
    <name>cordova-plugin-epsilonnet-file-provider</name>
    <description>Cordova File Provider Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova</keywords>

    <!-- android -->
    <platform name="android">

	
	
	
	
	
	
	
	
	
	
	 <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.google.zxing.client.android.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.zxing.client.android.SCAN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share">
                <intent-filter>
                    <action android:name="cordova.plugin.epsilonnet.file.provider.ENCODE"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.google.zxing.client.android.HelpActivity" android:label="Share">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <!-- Not required to allow users to work around this -->
            <uses-feature android:name="android.hardware.camera" android:required="false" />
        </config-file>

        <framework src="barcodescanner.gradle" custom="true" type="gradleReference"/>
        <resource-file src="barcodescanner-release-2.0.1.aar" target="libs/barcodescanner.aar" />

        <dependency id="cordova-plugin-compat" version="^1.0.0" />
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest/application/activity" mode="merge">
            <intent-filter>
                <action android:name="cordova.plugin.epsilonnet.file.provider.ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>
		
		
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
		
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>
		
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest/application" mode="merge">
            <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.cordova.plugin.epsilonnet.file.provider.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
            </provider>
        </config-file>
		
		<resource-file src="provider_paths.xml" target="res/xml/provider_paths.xml"/>
		<framework src="com.android.support:support-v4:27.1.0" />
    </platform>
</plugin>